# Application
# Set this to your local project URL (must end with a slash)
APP_URL=http://localhost/brewtica/public/
APP_DEBUG=false

# Database
DB_HOST=localhost
DB_NAME=brewtica__db
DB_USER=root
DB_PASS=
DB_PORT=3306
DB_CHARSET=utf8mb4
